@media (min-width:992px) and (max-width:1199.98px){
    #banner h1 {
        font-size: 55px;
        letter-spacing: 25px;
    }
    #banner h4 {
        font-weight: 400;
        font-size: 28px;
        line-height: 22px;
    }
    #banner a {
        line-height: 27px;
        padding: 16px 40px;
    }
    .section_info h2 {
        font-size: 42px;
    }
    .section_info p {
        line-height: 35px;
    }
    .section_info p b {
        font-size: 21px;
        line-height: 36px;
    }
    #about {
        padding: 80px 0;
    }
    #about .section_item {
        padding: 30px 42px;
    }
    #service .section_item p {
        padding-right: 52px;
    }
    #service {
        padding: 80px 0;
    }
    #my_work {
        padding: 80px 0;
    }
    #footer {
        padding-top: 25px;
        padding-bottom: 20px;
    }
}

@media (min-width:768px) and (max-width:991.98px){
    #banner {
        height: 650px;
    }
    #banner h1 {
        font-size: 42px;
        line-height: 60px;
        letter-spacing: 18px;
    }
    #banner h4 {
        font-size: 24px;
        line-height: 18px;
    }
    #banner p {
        font-size: 16px;
    }
    #banner a {
        line-height: 23px;
        padding: 15px 36px;
    }
    #about {
        padding: 60px 0;
    }
    .section_info h2 {
        font-size: 40px;
    }
    .section_info p {
        line-height: 34px;
    }
    .section_info p b {
        font-size: 20px;
        line-height: 34px;
    }
    .section_info {
        margin-bottom: 40px;
    }
    #about .section_item {
        padding: 25px 25px;
    }
    .section_item p {
        font-size: 11px;
        line-height: 20px;
    }
    #service .section_item p {
        padding-right: 105px;
    }
    #my_work {
        padding: 60px 0;
    }
}

@media (min-width:576px) and (max-width:767.98px){
    #banner {
        height: 550px;
    }
    #banner .banner_content h4 {
        font-size: 18px;
        line-height: 20px;
    }
    #banner .banner_content h1 {
        font-size: 40px;
        letter-spacing: 18px;
        line-height: 50px;
    }
    #banner p {
        font-size: 15px;
    }
    #banner a {
        font-size: 12px;
        line-height: 20px;
        padding: 14px 30px;
    }
    #about {
        padding: 40px 0;
    }
    #about .section_item {
        padding: 15px 5px;
    }
    .section_item h3 {
        font-size: 14px;
        line-height: 20px;
        padding: 22px 0;
    }
    .section_item p {
        font-size: 10px;
        line-height: 20px;
    }
    .section_info {
        margin-bottom: 35px;
    }
    .section_info h2 {
        font-size: 36px;
    }
    .section_info p {
        font-size: 15px;
        line-height: 32px;
        color: #7e8287;
    }
}

/* @media (min-width:768px) and (max-width:991.98px){
    
    
    
    #banner .banner_content a {
        padding: 12px 40px;
    }
    #about .section_info {
        text-align: center;
        margin-bottom: 70px;
    }
    #about .section_info p {
        font-size: 15px;
        line-height: 33px;
    }
    #about .section_info p b {
        font-size: 18px;
    }
    #about .section_item {
        padding: 20px 15px 45px;
    }
    #about .section_item p {
        font-size: 10px;
    }
    #about .section_item:nth-child(4n){
        border-right-color: transparent;
    }
    #service .section_item {
        padding-right: 350px;
    }
    #contact .section_info {
        margin-bottom: 50px;
    }
}

@media (min-width:576px) and (max-width:767.98px){
    #banner h1 {
        font-size: 56px;
        font-weight: 700;
        line-height: 64px;
        letter-spacing: 18px;
    }
    #banner a {
        font-size: 12px;
        line-height: 24px;
        padding: 10px 20px;
        letter-spacing: 2px;
        transition: .5s;
    }
    #banner {
        height: 600px;
    }
    #about {
        height: 500px;
        padding: 20px 0;
    }
    #about .section_info h2 {
        font-size: 36px;
    }
    #about .section_info p {
        font-size: 12px;
        line-height: 34px;
    }
    #about .section_info p {
        font-size: 12px;
        line-height: 24px;
    }
    #about .section_info p b {
        font-size: 12px;
    }
    #about .section_info {
        margin-bottom: 20px;
    }
    #about .section_item {
        width: 25%;
        padding: 40px 8px;
    }
    #about .section_item p {
        font-size: 10px;
        line-height: 20px;
    }
    #service {
        padding: 30px 0;
    }
    #service .section_info h2{
        font-size: 36px;
    }
    #service .section_item {
        padding-right: 262px;
    }
    #service img {
        margin-top: 20px;
    }
    #my_work {
        padding: 30px 0;
    }
    #my_work .section_info {
        padding: 0 60px;
        margin-bottom: 20px;
    }
    #my_work .section_info h2 {
        font-size: 36px;
    }
    #my_work .section_info p {
        font-size: 14px;
        line-height: 30px;
    }
    }
    #contact .section_info {
        margin-bottom: 20px;
    }
    #contact .section_info h2 {
        font-size: 36px;
    }
    #contact .section_info p {
        font-size: 14px;
        line-height: 30px;
    }
    #contact .section_item input, textarea {
        padding: 20px 0 10px 0;
        margin-bottom: 16px;
    }
    #contact .section_item {
        height: 400px;
    }
    #footer {
        font-size: 10px;
        line-height: 34px;
        padding-top: 15px;
        padding-bottom: 15px;
    }   

@media (min-width:320px) and (max-width:575.98px){
    
} */
